:root{

   /* Color */
  --primary_color: #ffff;
  --secondary_color: #010101;
  --footer_color: #B3AEAE;
  --green_color: #54654F;
  --border: #707070;


  /* font-family  */

  --primary_font: 'Playfair Display', serif;

  /* font-size (50px,24px, 18px, 12px) */
  --h1_font: 3.125rem;
  --h2_font: 1.5rem;
  --h3_font: 1.313rem;
  --h4_font: 1.125rem;
  --footer_font: 0.75rem;

  /* Margense */
  --header_height: 6.25rem;

  /* z-index  */
  --z_index_top0: -2;
  --z_index_top: -1;
  --z_index_top1: 1;
  --z_index_top2: 3;
  --z_index_top3: 4;


}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 8px;
  background-clip: padding-box;
  border: 2px solid #fff;


  position: relative;
  background: #f4f4f4;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  border-radius: 13px;
}

@font-face {
    font-family: 'dream_orphansregular';
    src: url('dream_orphans-webfont.woff2') format('woff2'),
         url('dream_orphans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: auto;
}
body{
  font-family: var(--primary_font);
  background: var(--primary_color);
  overflow-x: hidden;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}

html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}

img,fieldset {
	border:none;
}
header{
  position: fixed !important;
  z-index: var(--z_index_top3);
}

.navbar_container{
  background: #f3f2ef;
  height: 76px;
  z-index: 100;
  width: 100%;
  
}
.navbar_container  {
  margin-left: calc(25px);
}

.navbar_container .nav_section .navbar_items .navbar_item svg{
  color: #000;
}
.navbar_container .nav_section .navbar_items .navbar_item a{
  color: #636363;

}

.navbar_container .nav_section ul li .underline:hover::before{
  content: '';
  height: 1px;
  width: 100%;
  background: var(--secondary_color);
  position: absolute;
  margin-top: 24px;
  background:#636363;
}
.navbar_container .nav_section ul li .active::before{
  content: '';
  height: 1px;
  width: 100%;
  background: var(--secondary_color);
  position: absolute;
  margin-top: 24px;
}


.logo_work img{
  height: 120px;
  /* width: 114px; */
 margin-top: 42px;
/* margin-right: 26px; */
 z-index: 100;
}
.work_section .left_panel{
  margin-top: -100px;
}
.left_panel{
  height: 200vh;
  width: 200px;
  background: #f3f2ef;
  display: block;
  position: fixed;

  /* top: 10px; */
  left: 0;
  z-index: -10;

}
.right_panel{
  height: 100vh;
  width: 120px;
  background: #f3f2ef;
  display: block;
position: fixed;
  top: 76px;
  right: 0px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}
.left_panel .categories_menu{

  text-align: left;

  font-family: 'dream_orphansregular';
  font-size: 14px;
  color: #777777;
  height: 100vh;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left_panel .categories_menu .categories_items{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  margin-top: 76px;
}
.left_panel .categories_menu .categories_items .categories_item a{
  /* margin-bottom: 15px; */
  position: relative;
  display: block;
  color: #636363;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  
}
.left_panel .categories_menu .categories_items .categories_item .active{
  color: #000;
  text-decoration: underline;
}




/* =========== WORK SECTION ============ */
.work_section{
  margin-bottom: 56px;
  margin-top: -35px;

}
.work_section .work_container{
  /* margin: 0px 15px; */
   margin-left: 270px;
 display: block;
 width: auto;
}

.work_section .work_container .work_section_container{
  /* height: 496px; */
  /* width: 100%; */
  background: #fff;
  margin-bottom: 56px;
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  display: flex;
  z-index: -2;


  /* justify-content: center; */
  /* align-items: stretch; */
}

.work_section .work_container .work_section_container .work_img{
  width: 400px;
  height: 400px;
}

.work_section .work_container .work_section_container .work_img img{
  width: 100%;
  height: 100%;
  background-size: cover;
}

.work_section .work_container .work_section_container .work_description{
  width: 400px;
  height: 400px;
  display: grid;
  place-items: center;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2.8px;
  z-index: 0;
}

.work_section .work_container .work_section_container .work_description:hover, .work_section .work_container .work_section_container .work_description:hover p{
  background: #EFEFEF;
  transform: scale(1,1);
  display: grid;
  /* place-items: center; */
  white-space:inherit;
  position: inherit;
}


.work_section .work_container .work_section_container .work_description p{
  width: 288px;
  
  /* z-index: -10; */
  transform: scale(1,-1);
}
.footer_container{
  z-index: 10;

  position: relative;
  bottom: 0;
  left: 0;
}

/* ============ TABLET SIZE =============== */

@media screen and (max-width: 1080px) {

  .navbar_container{
    height: 136px;
    background-color: #fff;
  }

   .work_section .work_container{
     display: none;
     background: darkgreen;
     margin: 0;
     float: right;
   }
.work_section .work_container .work_section_container{
  display: flex;
  flex-direction: column;
  margin-top: 136px;
}
.logo_work{
  display: none;
}

   .work_section .left_panel{
     display: none;
     /* background: red; */
   }

   .work_section .right_panel{
     background: #707070;
     float: left;
     margin: 0;
     position: absolute;
     left: 0;
     top: 0;
     width: 180px;
     position: fixed;
     color: #fff;
     justify-content: flex-start;
   }
   .work_section .right_panel .categories_menu{
     /* margin-top: 240px; */
     justify-content: flex-start;
     height: 50vh;
     text-align: left;
     margin-left: 40px;
   }

   .work_section .right_panel .categories_menu .categories_items .categories_item a{
    color: #fff;
    /* margin-bottom: 30px; */
    font-size: 14px;
   } 
   .work_section .right_panel .logo_work{
     display: none;
   }

   .work_mobile_container{
     margin-top: 186px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: calc(100% - 120px);
     width: 100%;
     height: 100%;
  
   }

   .work_mobile_container .work_mobile_section{
     /* width: 100%; */
     margin-left: 180px;
     margin-bottom: 40px;
  
   }
   .work_mobile_container .work_mobile_section .work_mobile_img{
    width: 100%;
    /* height: auto; */
    max-width: 512px;
    height: 512px;
   }
   .work_mobile_container .work_mobile_section .work_mobile_img img{
    width: 100%;
    height: 100%;
   }
   /* .work_mobile_container .work_mobile_section .work_mobile_description{
     width: 512px;
     background-color: #f4f4f4;
     height: 256px;
   } */

   .footer_container{
     margin: 0;
     padding: 0;
     width: 100%;
     position: absolute;
     display: flex;
     align-items: center;
     bottom: 0;
     left: 0;
     height: 60px;
   }
   .footer_container .footer_section .social_media_icons{
     width: 9.375rem;
     display: flex;
     align-items: center;
     justify-content: space-between;

   }

   .footer_container .footer_section {
     padding: 0 2.4rem;

   }


}


@media screen and (max-width: 480px){

  .navbar_container{
    height: 110.2px;
  }
  .top_white_section{
    display: none;
  }
  
  .work_section .right_panel {
    width: 140px;
  }
  .work_section .right_panel  {
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 80px;
  }
  
  .work_section .right_panel .categories_menu .categories_items .categories_item{
    margin-left: -10px;
  }
  
  .work_section .right_panel .categories_menu .categories_items .categories_item a{
    color: #fff;
    letter-spacing: 1px;
    /* margin-bottom: 30px; */
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
   } 
   .work_section .right_panel .categories_menu .categories_items .categories_item.collab a{
     letter-spacing: 0px;
   }
   .work_mobile_container .work_mobile_section{
    /* width: 100%; */
    margin-left: 160px;
    margin-bottom:72px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .work_mobile_container .work_mobile_section:hover{
    transform: rotateX(90deg);
  }

   .work_mobile_container .work_mobile_section .work_mobile_img{
    height: auto;
    width: auto;
   }
   .work_mobile_container .work_mobile_section .work_mobile_img img{
     width: 100%;
     height: 100%;
   }
   .work_mobile_container .work_mobile_section .work_mobile_description{
     display: flex;
     justify-content: center;
     align-items: center;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
    /* height: auto; */
    /* max-width: 212px; */
    height: 96px;
     color: #DFDFDF;
    
    background-color: #F7F7F7;
    margin-top: -5px;
   }
   .work_mobile_container .work_mobile_section .work_mobile_description p{
     margin-bottom: 10px;
   }
   .work_mobile_container .work_mobile_section .work_mobile_description .invert{
     color: #000;
     transform: rotateX(180deg);
   }
}